 # =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/Game Folder/Clued-Up/[Ll]ibrary/
Game Folder/Clued-Up/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*