@charset "UTF-8";
/* CSS Document */
html{
  height:100%;}
body{
  height:100%;
  margin:0;
  padding:0;
  vertical-align:top;
  }
p, td{
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size:20px;
  color:black;
}
h1{
  font-size:60px;
  font-family:"Calibri", sans-serif;
  margin:0 0 0 20px;
  display:inline-block;
  color:#FFF;
}
h3{
  font-size:30px;
  font-family:"Calibri", Arial, sans-serif;
  margin:0;
}
h4{
  font-size:20px;
  font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  margin:0 0 0 50px;
  color:#949494;
}
html{background-color:#414141;}







/*- - - - - - - - LIGHT BULB - - - - - - - - */

.light-bulb,
.light-bulb-shadow{
  position: absolute;
  top: 0;
  right: 20%;
  min
  -moz-transform-origin: center top;
  -webkit-transform-origin: top;
  pointer-events:none;
}

@media all and (max-width: 1100px) {
    .light-bulb,
	.light-bulb-shadow {
        margin-right: 0px;
        right: 300px;
    }
}

.light-bulb {
  z-index: 11;
  -moz-animation: 3s ease 0s normal none infinite bulb-swing;
  -webkit-animation: bulb-swing 3s infinite ease-in-out;
}

@-moz-keyframes bulb-swing {
  0%{-moz-transform: rotate(-10deg)}
  50%{-moz-transform: rotate(10deg)}
  100%{-moz-transform: rotate(-10deg)}
}

@-webkit-keyframes bulb-swing {
  0%{-webkit-transform: rotate(-10deg)}
  50%{-webkit-transform: rotate(10deg)}
  100%{-webkit-transform: rotate(-10deg)}
}

.light-bulb-shadow{
  z-index: 10;
  opacity: 0.2;
  -moz-animation: 3s ease 0s normal none infinite shadowSwing;
  -webkit-animation: shadowSwing 3s infinite ease-in-out;
} 

@-moz-keyframes shadowSwing {
  0%{-moz-transform: rotate(-14deg)}
  50%{-moz-transform: rotate(10deg)}
  100%{-moz-transform: rotate(-14deg)}
}
    
@-webkit-keyframes shadowSwing {
  0%{-webkit-transform: rotate(-14deg)}
  50%{-webkit-transform: rotate(10deg)}
  100%{-webkit-transform: rotate(-14deg)}
}
		
		
		
/* - - - - - - - - - - */
	
#smokeBox{
	position:absolute;
	left:0;
	bottom:0;
	pointer-events:none;
}
	
		
#dark{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  position:absolute;
  top:0;
  left:0;
  z-index:13;
  display:none;
}

#teamDiv{
  min-width:650px;
  position:absolute;
  top:100px;
  left:50%;
  display:none;
  z-index:14;
}
#teamDivInner{
  position: relative; 
  left: -50%; 
  background-color:rgba(188,188,188,1.00);
  padding:30px;;
}
#teamDivClose{
  position:absolute;
  right:20px;
  top:0px;
  cursor:pointer;
}
#teamDiv table{
  width:100%;
}
#teamDiv tr{
  padding:10px;
}
#teamDiv td{
  width:50px;
  text-align:center;
}
#teamDiv img{
  width:100px;
  height:100px;
}
#rolesTr td{
  color:rgba(89,89,89,1.00);
  font-size:18px;
  font-style:italic;
}

#header{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  width:100%;
  height:130px;
  padding:30px 10px 0 0;
}
#header h1{
  vertical-align:top;
  margin-left:-10px;
}
#header h4{
  margin:-40px 0 0 220px;
}
@media (max-width:1200px){
  #header h1{
	  font-size:50px;
  }
}
@media (max-width:1000px){
  #header h1, #header h4{
	  display:none;
  }
}

#header ul{
  list-style:none; 
  position:absolute;
  right:30px;
  display:inline-block;


  }
#header li{
  display:inline-block;
  margin:0 30px 0 30px;
  font-family:"Calibri", Helvetica, Arial, sans-serif;
  font-size:24px;
  padding:20px;
  background-color:rgba(221,221,221,1.00);
  }
#header li:hover{
  background-color:#838383;
  cursor: -webkit-zoom-in; 
  cursor: -moz-zoom-in;
}
#logo{
  height:110px;
  margin-left:20px;
}
.quarter{
  height:100%;
  display:inline-block;
  vertical-align:top;
  overflow:hidden;
  
	  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quarter h2{
  margin-top:50px;
}

h2{
  font-size:40px;
  font-family:"Calibri", sans-serif;
  margin:0;
}



#ass1{background-color:#848484;}
#ass2{background-color:#5D5D5D;}
#ass3{background-color:#484848;}
#ass4{background-color:#414141;}
#ass1:hover{background-color:#827878;}
#ass2:hover{background-color:#55606E;}
#ass3:hover{background-color:#53465A;}
#ass4:hover{background-color:#38563F}

.content{
  margin-top:130px;
  padding: 0 35px;
  display:inline-block;
}

.active{width:55%;}
.active div div{display:inline-block;}

.minimised{width:15%;}
.minimised div div{display:none;}
.minimised h2{
  margin:60px 0 0 5px;
  writing-mode:tb-rl;
  display:block;
  bottom:0;
  width:60px;
  height:350px;
  font-size:60px;
  }